@page "/IndexEmpleado"
@inject EmpleadoServices empleadoServices
@inject UserManager<ApplicationUser> userManager
@rendermode InteractiveServer
@inject NotificationService notificationService
@attribute [StreamRendering]

<RadzenNotification />

<div class="card shadow-lg">
    <div class="card-header" style="background-color: #012E40">
        <h3 class="text-white text-center">Index</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">

                <div class="row">
                    <div class="col-6">
                        <label class="fw-bold">Fecha Inicio</label>
                        <InputDate @bind-Value="FechaInicio" class="form-control mb-4"/>
                    </div>
                    <div class="col-6">
                        <label class="fw-bold">Fecha Inicio</label>
                        <InputDate @bind-Value="FechaInicio" class="form-control" />
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="fw-bold">Filtrar Por</label>
                <InputSelect @bind-Value="Opcion" class="form-select mb-3">
                    <option value="1">EmpleadoId</option>
                    <option value="2">Nombre</option>
                    <option value="4">Todo</option>
                </InputSelect>
            </div>
            @switch (Opcion)
            {
                case 1:
                    <div class="col-3">
                        <label class="fw-bold">C&eacute;dula</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="User.Cedula" class="form-control"></InputNumber>
                            <button type="button" class="btn btn-primary bi bi-search" @onclick="Filtrar"></button>
                        </div>
                    </div>
                    
                    break;
                case 3:
                    <div class="input-group">
                        <InputText @bind-Value="User.Nombre" class="form-control"></InputText>
                        <button type="button" class="btn btn-primary bi bi-search" @onclick="Filtrar"></button>
                    </div>
                    break;
                case 4:
                    <button type="button" class="btn btn-primary bi bi-search" @onclick="Filtrar">Buscar</button>
                    break;
            }
        </div>
           
        <AuthorizeView Roles="Admin">
            <div class="justify-content-end d-flex mb-4">
                <a href="CreateEmpleado" class="btn btn-success bi-floppy-fill">Create</a>
            </div>
        </AuthorizeView>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="table-head text-white" style="background-color: #012E40">Nombre</th>
                    <th class="table-head text-white" style="background-color: #012E40">Apellido</th>
                    <th class="table-head text-white" style="background-color: #012E40">Fecha Creaci&oacute;n</th>
                    <th class="table-head text-white" style="background-color: #012E40">Tel&eacute;fono</th>
                    <th class="table-head text-white" style="background-color: #012E40">Email</th>
                    <th class="table-head text-white" style="background-color: #012E40">Opciones</th>
                </tr>
            </thead>
            @if(Empleados.Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center border border-4 bg-light p-3">
                            <h4>No hay registros</h4>
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @foreach (var item in Empleados)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                            <td>@item.Telefono</td>
                            <td>@item.UserName</td>
                            <td>
                                <a href="/EditEmpleado/@item.Id" class="btn btn-primary bi-box-arrow-up-right"></a>
                                <a href="/ViewAudiencia/@item.Id" class="btn btn-warning bi bi-info-square"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        
    </div>
</div>





@code {
    public ICollection<ApplicationUser> Empleados { get; set; } = new List<ApplicationUser>();
    public ApplicationUser User { get; set; } = new ApplicationUser();
    public int Opcion { get; set; }
    public DateTime FechaInicio { get; set; }
    public DateTime FechaFinal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Empleados = await userManager.GetUsersInRoleAsync("Empleado");
        FechaFinal = DateTime.Now;
        FechaInicio = DateTime.Now;
    }

    public async Task Filtrar()
    {
        if (Opcion == 1)
            Empleados = await empleadoServices.Listar(e => e.Id== User.Id);
        else if (Opcion == 2)
            Empleados = await empleadoServices.Listar(e => e.Nombre!.ToLower().Contains(User.Nombre!.ToLower()));
        else if (Opcion == 3)
            Empleados = await empleadoServices.Listar(m => m.FechaCreacion <= FechaFinal && m.FechaCreacion >= FechaInicio);
        else if (Opcion == 4)
            Empleados = await empleadoServices.Listar(m => true);
    }

}