@page "/CreateExpediente"
@inject ExpedienteServices expedienteService
@inject SentenciaServices sentenciaService
@inject DemandaServices demandaService
@inject TiposResolucionServices resolucionService
@inject TipoDemandaServices tiposDemandaServices
@inject UserManager<ApplicationUser> UserManager
@inject NotificationService notificationService
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,Empleado")]
<PageTitle>Expediente</PageTitle>

<RadzenNotification/>
<EditForm Model="expediente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg" >
            <div class="card-header" style=" background-color: #012E40">
                <h3 class="text-white text-center">Registro de Expediente.</h3>
            </div>
            <div class=card-body>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="Nombre">C&eacute;dula del usuario:</label>
                        <div class="input-group">
                            <InputNumber type="number" @bind-Value="@Usuario.Cedula" class="form-control" min="0" />
                            <button type="button" class="btn btn-outline-primary" @onclick="BuscarUsuario"> <img src="/Buscar2.svg" style="width: 20px;" />Buscar</button>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="Nombre">Nombre:</label>
                        <InputText @bind-Value="Usuario.Nombre" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="Nombre">Apellido:</label>
                        <InputText @bind-Value="Usuario.Apellido" class="form-control" disabled />
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="Nombre">Email:</label>
                        <InputText @bind-Value="Usuario.UserName" class="form-control" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="SolicitadoPor">Resolucion Sentencia</label>
                        <InputSelect @bind-Value="expediente.SentenciaId" class="form-control">
                            <option value="">Seleccione una opcion</option>
                            @foreach (var item in sentencias)
                            {
                                var tipoResolucion = resolucionService.GetResolucion(item.ResolucionId);
                                <option value="@item.SentenciaId">@tipoResolucion</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => expediente.SentenciaId)" />
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label" for="Nombre">Tipo Demanda:</label>
                        <InputSelect @bind-Value="expediente.DemandaId" class="form-control">
                            <option value="">Seleccione una opcion</option>
                            @foreach (var item in tipoDemandas)
                            {
                              
                                <option value="@item.TiposDemandasId">@item.TipoDemanda </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => expediente.DemandaId)" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">Comentario</label>
                    <InputTextArea @bind-Value="expediente.Comentario" class="form-control" />
                    <ValidationMessage For="@(() => expediente.Comentario)" />
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <a href="IndexExpediente" class="btn text-white" style=" background-color: #012E40">
                        <img src="Back.svg" style="width:25px; " />Atr&aacute;s
                    </a>

                    <button type="submit" class="btn btn-success">
                        <img src="Save.svg" style="width:25px" /> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public Expedientes expediente = new Expedientes();
    public List<Sentencias> sentencias { get; set; } = new List<Sentencias>();
    public List<TiposDemandas> tipoDemandas { get; set; } = new List<TiposDemandas>();
    public List<Demandas> ListaDemandas { get; set; } = new List<Demandas>();
    public ApplicationUser Usuario { get; set; } = new ApplicationUser();
    public List<ApplicationUser> Usuarios { get; set; } = new List<ApplicationUser>();

    protected override async Task OnInitializedAsync()
    { 
        sentencias = await sentenciaService.Listar(p => true);
        tipoDemandas = await tiposDemandaServices.Listar();


    }
    public async Task BuscarUsuario()
    {
        var users = UserManager.Users.ToList();
        var user = users.FirstOrDefault(u => u.Cedula == Usuario.Cedula);
        if(user is null)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "No se encuentra ese usuario",
                    Duration = 3_000
                };
            notificationService.Notify(mensaje);
            return;
        }
        else
        {
            expediente.Id = user.Id;
            Usuario.Nombre = user.Nombre;
            Usuario.Apellido = user.Apellido;
            Usuario.UserName = user.UserName;
            var mensaje2 = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Error",
                    Detail = "Encontrado Correctamente",
                    Duration = 3_000
                };
            notificationService.Notify(mensaje2);
        }
    }

    public async Task Guardar()
    {
        expediente.FechaCreacion = DateTime.Now;
        if(expediente.SentenciaId == 0 || expediente.DemandaId == 0)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Debe seleccionar una sentencia y una demanda",
                    Duration = 3_000
                };
            notificationService.Notify(mensaje);
            return;
        }
        var guardo = await expedienteService.Save(expediente);
        if (!guardo)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "No se ha guardado correctamente",
                    Duration = 3_000
                };
            notificationService.Notify(mensaje);
        }
        else
        {
            var mensaje2 = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Exito",
                    Detail = "Se ha guardado correctamente",
                    Duration = 3_000
                };
            notificationService.Notify(mensaje2);
            Nuevo();
            Usuario = new ApplicationUser();
        }
    }

    public void Nuevo()
    {
        expediente = new Expedientes();
    }


}