@page "/EditExpediente/{ExpedienteId:int}"
@inject ExpedienteServices expedienteService
@inject SentenciaServices sentenciaService
@inject DemandaServices demandaService
@inject TiposResolucionServices resolucionService
@inject TipoDemandaServices demandasServices
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,Empleado")]
<PageTitle>Ticket</PageTitle>
<EditForm Model="expediente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Editar Expediente.</h3>
            </div>
            <div class=card-body>


             
                <div class="mb-3">
                    <label class="form-label" for="Nombre">Fecha:</label>
                    <InputDate @bind-Value="expediente.FechaCreacion" class="form-control" min="2024-01-01" />
                    <ValidationMessage For="@(() => expediente.FechaCreacion)" />
                </div>


              
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">Resolucion Sentencia</label>
                    <InputSelect @bind-Value="expediente.SentenciaId" class="form-control">
                        <option value="">Seleccione una opcion</option>
                        @foreach (var item in sentencias)
                        {
                            var tipoResolucion = resolucionService.GetResolucion(item.ResolucionId);
                            <option value="@item.SentenciaId">@tipoResolucion</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => expediente.SentenciaId)" />
                </div>

               


                <div class="mb-3">
                    <label class="form-label" for="Nombre">Tipo Demanda:</label>
                    <InputSelect @bind-Value="expediente.DemandaId" class="form-control">
                        <option value="">Seleccione una opcion</option>
                        @foreach (var item in demandas)
                        {
                            var tipoDemanda = demandasServices.GetTipoDemanda(item.TiposDemandasId);
                            <option value="@item.DemandaId">@tipoDemanda</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => expediente.DemandaId)" />
                </div>

                
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">Comentario</label>
                    <InputTextArea @bind-Value="expediente.Comentario" class="form-control" />
                    <ValidationMessage For="@(() => expediente.Comentario)" />
                </div>


            </div>
            
            <AuthorizeView Roles="Admin,Empleado">
                <ChildContent Context="formContext">

                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="IndexExpediente" class="btn text-white" style=" background-color: #012E40">
                                <img src="Back.svg" style="width:25px; " />Atr&aacute;s
                            </a>

                            <button type="submit" class="btn btn-success">
                                <img src="Save.svg" style="width:25px" /> Guardar
                            </button>
                        </div>
                    </div>
                </ChildContent>
            </AuthorizeView>

            <AuthorizeView Roles="User">
                <ChildContent Context="formContext">

                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="IndexExpedienteUser" class="btn text-white" style=" background-color: #012E40">
                                <img src="Back.svg" style="width:25px; " />Atr&aacute;s
                            </a>

                            <button type="submit" class="btn btn-success">
                                <img src="Save.svg" style="width:25px" /> Guardar
                            </button>
                        </div>
                    </div>
                </ChildContent>
            </AuthorizeView>

        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int ExpedienteId { get; set; }
    public Expedientes expediente = new Expedientes();
    public List<Sentencias> sentencias { get; set; } = new List<Sentencias>();
    public List<Demandas> demandas { get; set; } = new List<Demandas>();
    

    protected override async Task OnInitializedAsync()
    {
        expediente = await expedienteService.GetExpediente(ExpedienteId);
        sentencias = await sentenciaService.Listar(p => true);
        demandas = await demandaService.Listar(p => true);
    }

    public async Task Guardar()
    {
        var guardo = await expedienteService.Edit(expediente);
        if (guardo)
        {
            Nuevo();
           
        }
        
         
    }

    public void Nuevo()
    {
        expediente = new Expedientes();
       
    }



    

}