@page "/IndexDemanda"

@rendermode InteractiveServer
@inject DemandaServices demandaServices
@inject TipoDemandaServices tipoDemandaServices
@inject AlguacilServices alguacilServices
@inject AudienciasServices audienciasServices
@inject EstadoServices estadosDemandasServices
@inject IJSRuntime JSRuntime
<div class="card shadow-lg">
    <div class="card-header" style="background-color: #012E40">
        <h3 class="text-white text-center">Index</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <label>Filtrar Por</label>
                <InputSelect @bind-Value="Opcion" class="form-select">
                    <option value="1">DemandaId</option>
                    <option value="2">Fecha</option>
                    <option value="4">Todo</option>
                </InputSelect>
            </div>

            <div class="justify-content-end d-flex mb-4">
                <a href="CreateDemanda" class="btn btn-success bi-floppy-fill">Create</a>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="table-head text-white" style="background-color: #012E40">Id</th>
                        <th class="table-head text-white" style="background-color: #012E40">Descripci&oacute;n</th>
                        <th class="table-head text-white" style="background-color: #012E40">Archivo</th>
                        <th class="table-head text-white" style="background-color: #012E40">Foto de c&eacute;dula</th>
                        <th class="table-head text-white" style="background-color: #012E40">Tipo de demanda</th>
                        <th class="table-head text-white" style="background-color: #012E40">Fecha de Audiencia</th>
                        <th class="table-head text-white" style="background-color: #012E40">Estado</th>
                        <th class="table-head text-white" style="background-color: #012E40">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ListaDemandas)
                    {
                         TipoDemanda= TiposDemadas.FirstOrDefault(t=> t.TiposDemandasId == item.TiposDemandasId);
                         Audiencia = Audiencias.FirstOrDefault(t=> t.AudienciaId == item.AudienciaId);
                         Estado = Estados.FirstOrDefault(t=> t.EstadoId == item.EstadoId);

                        <tr>
                            <td>@item.DemandaId</td>
                            <td>@item.Descripcion</td>
                            <td>
                                @if (item.FotoCedula != null && item.FotoCedula.Length > 0)
                                {
                                    @* <a href="@($"DownloadArchivo/{item.DemandaId}")" class="btn btn-primary bi bi-download">Descargar</a> *@
                                    <a href="data:application/octet-stream;base64,@Convert.ToBase64String(item.FotoCedula)" download="Archivo.pdf" class="btn btn-primary bi bi-download">Descargar</a>
                                }

                            </td>
                            <td>
                                @if (item.Documento != null && item.Documento.Length > 0)
                                {
                                    @* <a href="@($"DownloadArchivo/{item.DemandaId}")" class="btn btn-primary bi bi-download">Descargar</a> *@
                                    <a href="data:application/octet-stream;base64,@Convert.ToBase64String(item.Documento)" download="Foto.png" class="btn btn-primary bi bi-download">Descargar</a>
                                }                        
                            </td>
                            <td>
                                @if(TipoDemanda != null)
                                    @TipoDemanda.TipoDemanda
                            </td>
                            <td>
                                @if (Audiencia != null)
                                    @Audiencia.FechaAudiencia.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @if (Estado != null)
                                    @Estado.Estado
                            </td>
                            <td>
                                <a href="/DeleteDemanda/@item.DemandaId" class="btn btn-danger bi bi-trash-fill"></a>
                                <a href="/EditDemanda/@item.DemandaId" class="btn btn-primary bi-box-arrow-up-right"></a>
                                <a href="/ViewDemanda/@item.DemandaId" class="btn btn-warning bi bi-info-square"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public TiposDemandas? TipoDemanda { get; set; } = new TiposDemandas();
    public Audiencias? Audiencia { get; set; } = new Audiencias();
    public EstadosDemandas? Estado { get; set; } = new EstadosDemandas();
    public Demandas? demandas = new Demandas();
    public List<Demandas>? ListaDemandas = new List<Demandas>();
    public List<TiposDemandas>? TiposDemadas = new List<TiposDemandas>();
    public List<Audiencias>? Audiencias = new List<Audiencias>();
    public List<EstadosDemandas>? Estados = new List<EstadosDemandas>();
    public int Opcion { get; set; }

    protected override async Task OnInitializedAsync()
    {

        ListaDemandas = await demandaServices.GetDemandas();
        TiposDemadas = await tipoDemandaServices.Listar(t => true);
        Audiencias = await audienciasServices.Listar(t => true);
        Estados = await estadosDemandasServices.Listar(t => true);
    }
    

}
